doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Gautam Dance Academy
     link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css")
     link(rel="stylesheet", href="../static/css/style.css")

    block scripts
    block style
  body
    nav#navbar 
      nav#navbar
        navbar 
         navbar-expand-lg 
          navbar-light 
           bg-light
           
        ul 
            div#logo
                img(src="/static/img/logo.png")   
                | GDA   
            li #[a(href="/")  Home]
            li #[a(href="/")  About]
            li #[a(href="/")  Services]
            li #[a(href="/")  Class Info]
            li #[a(href="/contact")  Contact Us]
    block content

    
    footer#footer
        | Copyright © 2022 GautamAcademy.com | All Rights Reserved 