extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style 
        include ../static/style.css

block content
    section#introSection 
       div Welcome to Gautam's Dance Academy 
       div.small Eat Sleep Dance Repeat 
        
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")
                div.card-content
                    p This is the best dance of the universe

    section#sponsorSection 
        h2 Our Sponsors
        div#sponsors 
            img(src="/static/img/logo1.png" alt ="sponsor" Class="spImage")
            img(src="/static/img/logo5.png" Class="spImage")
            img(src="/static/img/logo6.png" Class="spImage")
            img(src="/static/img/logo7.png" Class="spImage")