@import url("https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

#logo {
  display: flex;
  color: white;
  align-items: center;
  margin: 0 14px;
  font-size: 28px;
  margin-right: 40px;
}

#logo img {
  height: 42px;
  filter: invert(1);
}

#navbar {
  background-color: #d43b3b;
  padding: 18px 14px;
  font-family: "Yeon Sung";
}
#navbar ul {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

#navbar li {
  list-style: none;
}

#navbar li a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 13px 20px;
}

#navbar li a:hover {
  color: black;
}

#introSection {
  padding-bottom: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "ZCOOL QingKe HuangYou";
    font-size: 42px;
    align-items: flex-start;
    background: url(/static/img/bg.jpg) no-repeat center/cover;
    background-size: 100% auto;
    height: 810px;
    background-color: red;
}
#introSection div.small {
  font-size: 52px;
  padding: 5px;
}

#missionSection {
  height: 326px;
  width: 92%;
  margin: auto;
}

#missionSection h2 {
  font-size: 36px;
  font-family: "Yeon Sung";
  text-align: center;
  padding-top: 12px;
}

#missionSection h3 {
  font-size: 29px;
  font-family: "Yeon Sung";
}
.card {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  width: 26%;
  margin: 24px 31px;
  height: 209px;
}
.card h3 {
  text-align: center;
  margin: 0 12px;
  margin-top: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-img {
  height: 111px;
    padding: 0 14px;
    margin: 5px 61px;
}

.card-img img {
  height: inherit;
}

.card-content {
  padding: 0 10px;
}

.card-content p {
  font-size: 19px;
}
#sponsorSection {
  height: 272px;
  background: linear-gradient(45deg, rgb(163, 232, 235) , transparent)
}

#sponsorSection h2 {
  font-size: 36px;
  font-family: "Yeon Sung";
  text-align: center;
  padding-top: 12px;
}

#sponsors{
  height: 202px;
    max-width: 598px;
    margin: 6px auto;
}

.spImage{
  height: 115px;
    margin: 19px;
    width: 111px;
}
#footer {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Yeon Sung';
  background-color: black;
  height: 60px;
}

@media (max-width: 767px)
{
  
#logo {
  display: flex;
  color: white;
  align-items: center;
  margin: 0 14px;
  font-size: 28px;
  margin-right: 40px;
}

#logo img {
  height: 42px;
  filter: invert(1);
}

#navbar {
  background-color: #d43b3b;
  padding: 18px 14px;
  font-family: "Yeon Sung";
}
#navbar ul {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#navbar li {
  list-style: none;
}

#navbar li a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 13px 20px;
}

#navbar li a:hover {
  color: black;
}

#introSection {
  padding-bottom: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "ZCOOL QingKe HuangYou";
    font-size: 42px;
    align-items: flex-start;
    background: url(/static/img/bg.jpg) no-repeat center/cover;
    background-size: 100% auto;
    height: 810px;
    background-color: red;
}
#introSection div.small {
  font-size: 52px;
  padding: 5px;
  margin-top: 43px;
}

#missionSection h2 {
  font-size: 36px;
  font-family: "Yeon Sung";
  text-align: center;
  padding-top: 12px;
}

#missionSection h3 {
  font-size: 29px;
  font-family: "Yeon Sung";
}

.card h3 {
  text-align: center;
  margin: 0 12px;
  margin-top: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-img {
  height: 111px;
    padding: 0 14px;
    margin: 5px 61px;
}

.card-img img {
  height: inherit;
}

.card-content {
  padding: 0 10px;
}

.card-content p {
  font-size: 19px;
}
#sponsorSection {
  margin-top: 550px;
  height: 365px;
  background: linear-gradient(45deg, rgb(163, 232, 235) , transparent)
}

#sponsorSection h2 {
  font-size: 36px;
  font-family: "Yeon Sung";
  text-align: center;
  padding-top: 12px;
}

#sponsors{
  height: 365px;
  max-width: 598px;
  margin: 5px 32px;
}

.spImage{
  height: 115px;
    margin: 19px;
    width: 111px;
}
#footer {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: 'Yeon Sung';
  background-color: black;
  height: 60px;
}
  #missionSection {
    height: 326px;
    width: 92%;
    margin: auto;
  }
  .card {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 65%;
    margin: 24px 52px;
    height: 223px;
}
}
@media(max-width:435px){
  #missionSection {
    height: 326px;
    width: 94%;
    margin: auto;
}
}